@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');

@import "tailwindcss";
@plugin "daisyui";


body{
    font-family: 'Poppins', sans-serif;
}

.product-image {
  width: 200px;
  height: 250px;
  object-fit: cover; /* very important for images */
  
}
